<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Error !</title>
</head>

<body>
    <div class="container">
        <div class="error_box">
            <div class="err_404_show">
                <h3>
                    <span class="4">4</span>
                    <span class="0">0</span>
                    <span class="4">4</span>
                </h3>
                <p>Error!!!</p>
            </div>
            <div class="err_msg">
                <p>The page doesn't exists !!</p>
                <a href="/"><button>Go Back</button></a>
            </div>
        </div>
    </div>
</body>

</html>